/* boxes */
.box {

  border:1px solid $border-color;
  padding: 8px;

  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  @include border-left-radius(4px);
  @include border-right-radius(4px);

  margin-bottom: 5px;

  @include box-sizing(border-box);

	-webkit-box-shadow: 2px 2px 5px #c1c1c1;
	-moz-box-shadow: 2px 2px 5px #c1c1c1;
	box-shadow: 2px 2px 5px #c1c1c1;

  .heading1 { font-size: 24px; color: $heading1-color; margin: 4px 0px; }
  .heading2 { font-size: 16px; color: $heading2-color; margin: 4px 0px; }
  .heading3 { font-size: 14px; color: $heading1-color; margin: 4px 0px; }
  .heading4 { font-size: 12px; color: $heading2-color; margin: 4px 0px; font-weight: bold}
  .content { font-size: 12px; color: $content-color; }

}

.box.active { background-color: #e5eef6; }

.box.border-blue { border-left: 5px solid #25aae1 !important; }
.box.border-green { border-left: 5px solid #5ebc5e !important; }
.box.border-red { border-left: 5px solid red !important; }
.box.border-yellow { border-left: 5px solid #e9e16d !important; }
.box.border-grey { border-left: 5px solid #989898 !important; }

.box.hoverable:hover, .box.hoverable:active, .box.hoverable:focus, .box.hoverable.selected {
  background-color: #e5eef6;
  border-color: #25aae1;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}