/*  To align text to Right / Left  */
.text-align-center{ text-align: center !important; }
.text-align-left{ text-align: left !important; }
.text-align-right{ text-align: right !important; }

/* text styles */
.text-color-red { color: darkred;}
.text-color-blue { color: #24a9e1;}
.text-color-dark-grey { color: #4b4b4b; }
.text-color-gray { color: #898989; }
.text-color-dark-gray { color: #4b4b4b; }
.text-color-light-grey { color: #999999; }
.text-color-white { color: #FFF; }
.text-color-green { color: green; }

$font_size_collection: (10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 28, 30, 32, 34, 36, 40, 48, 56);
@each $item in $font_size_collection {
  .fs-#{$item} { font-size: #{$item}px !important; }
}

$line_height_collection: (10, 20, 30, 40);
@each $item in $line_height_collection {
  .lh-#{$item} { line-height: #{$item}px !important; }
}

h1.heading { font-size: 2em; }
h2.heading { font-size: 1.5em;  color: #4b4b4b}
h3.heading { font-size: 1.17em; }
h4.heading { font-size: 1em; color: #4b4b4b }
h5.heading { font-size: .90em; }
h6.heading { font-size: .85em; color: #4b4b4b }

