$collection: (2, 3, 4, 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100, 200);

/* pull classes */
.float-left, .pull-left { float: left; }
.float-right, .pull-right { float: right; }

/* Clear Both Classes */
.cl { clear: both; display: block; }

@each $item in $collection {
  .cl-#{$item} { clear: both; display: block; height: #{$item}px; }
}

/* Margin and Padding Class */
/* ------------------------ */


/* e.g: ma */
.ma { margin: 0px auto !important; }

/* margin - e.g: m-10 */
@each $item in $collection {
  .m-#{$item} { margin: #{$item}px !important; }
}

/* margin-top - e.g: mt-10 */
@each $item in $collection {
  .mt-#{$item} { margin-top: #{$item}px !important; }
}

/* margin-right - e.g: mr-10 */
@each $item in $collection {
  .mr-#{$item} { margin-right: #{$item}px !important; }
}

/* margin-bottom - e.g: mb-10 */
@each $item in $collection {
  .mb-#{$item} { margin-bottom: #{$item}px !important; }
}

/* magin-left - e.g: ml-10 */
@each $item in $collection {
  .ml-#{$item} { margin-left: #{$item}px !important; }
}

/* padding - e.g: p-10 */
@each $item in $collection {
  .p-#{$item} { padding: #{$item}px !important; }
}

/* padding-top - e.g: pt-10 */
@each $item in $collection {
  .pt-#{$item} { padding-top: #{$item}px !important; }
}

/* padding-right - e.g: pr-10 */
@each $item in $collection {
  .pr-#{$item} { padding-right: #{$item}px !important; }
}

/* padding-bottom - e.g: pb-10 */
@each $item in $collection {
  .pb-#{$item} { padding-bottom: #{$item}px !important; }
}

/* padding-left - e.g: pl-10 */
@each $item in $collection {
  .pl-#{$item} { padding-left: #{$item}px !important; }
}



